html {
  scroll-behavior: smooth;
}

section {
  padding: 100px 15%;
}

.welcome {
  padding-top: 140px;
  text-align: center;
  background-image: url("../img/bg_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* style for all element inside .welcome */
.welcome div * {
  margin-bottom: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.more-about {
  margin-top: 40px;
}

.more {
  background: #3498db;
  color: white;
}
